<!--

 Copyright 2012 Kii Corporation
 http://kii.com

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

//-->

        <!-- START PAGE -->
        <div id="notePage" data-role="page" data-theme="c">
            <script type="text/javascript">
            $("#submit").click(function (){
                $.mobile.showPageLoadingMsg();
                var bucket = KiiUser.getCurrentUser().bucketWithName("MyBucket");
                var object = bucket.createObject();
                object.set("title", $("#title").val());
                object.set("note", $("#note").val());
                object.save({
                    success: function(theSavedObject) {
                        alert("Note Created!");
                        $.mobile.hidePageLoadingMsg();
                        $.mobile.changePage("list.html");
                    },
                    failure: function(theObject, anErrorString) {
                        // tell the user
                        alert("Unable to create Note: " + anErrorString);
                        $.mobile.hidePageLoadingMsg();
                    }
                });
            });
            
        </script>
 
            <!-- START HEADER -->
            <div data-role="header" data-theme="c">
                <h1>Create Notes</h1>
            </div>
            <!-- END HEADER -->
            
            <!-- START CONTENT -->
            <div data-role="content">	
            
                <div style="margin:18px;">
                    <label for="basic">Title</label>
                    <input id="title" type="text" name="title" value=""  />                
                </div>
            
                <div style="margin:18px;">
                    <label for="basic">Note</label>
                    <textarea name="note" id="note" style="height:200px" placeholder=""></textarea>

                </div>
                
                <div style="margin:32px 18px;">
                    <input type="button" name="submit" value="Submit" id="submit" data-role="button" data-theme="e" style="margin-bottom:20px;" />
                </div>
                
            </div>
            <!-- END CONTENT -->
            
            
        </div>
        <!-- END PAGE -->
